# Dependencias
node_modules

# Archivos de compilación o salida
dist
build

# Archivos de entorno
.env
.env.local

# Configuración del editor
.vscode
.idea

# Archivos del sistema
.DS_Store
Thumbs.db
